{% extends "base.html" %}

{% block title %}Contacts{% endblock title %}

{% block body %}

<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact">
        {% csrf_token %}

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" id="email" name="email" placeholder="name@example.com">
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
           <input type="phone" class= "form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>
        <div class="form-group">
            <label for="desc">Desc</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>

       
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock body %}